<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-assetpath" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>assetpath</name><js-module name="assetpath" src="www/assetpath.js"><clobbers target="cordova.plugins.assetpath" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="assetpath"><param name="android-package" value="cordova-plugin-assetpath.assetpath" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/assetpath.java" target-dir="src/cordova-plugin-assetpath/assetpath" /></platform></plugin>